nav#header{
    height: 120px;
    padding: 10px;
    box-sizing: border-box;
    /* CLIENTE SOLICITOU UM DEGRADÊ */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 130px, #ffffff 130px, #2989d8 60%, #1e5799 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffffff 130px,#ffffff 130px,#2989d8 60%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffffff 130px,#ffffff 130px,#2989d8 60%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */

    box-shadow: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-color: #e9e9e9;
    padding-top:20px;
}

footer.page-footer{
    margin-top:0;
}

footer .footer-copyright{
    padding: 0 20px;
}

form .row{
    margin-bottom: 0;
}

option{
    text-transform: capitalize;
}

table.highlight tbody > tr:hover{
    background: rgba(227, 242, 253, 0.95);

}